<!DOCTYPE html>
<html>

  <head>
    <title>AWS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">

    <title>Secure Programming Assignment 2 - Karthy</title>

  <body>
   <h1>Secure Programming Assignment 2 - Karthy</h1>
    <br/>
      {% if result_msg %}
        <h3>{{ result_msg }}</h3>
   {% endif %}
   <br/>
   {% if user_name %}
        <h3>User Name :{{ user_name }}</h3>
   {% endif %}
   <br/>
   {% if Current_user_quota %}
        <h3>Your Upload Quota is :{{ Current_user_quota }}</h3>
   {% endif %}
   <br/>
    <h2>Main Menu</h2>
    <form>
         <h3><a href="{{ url_for('list')}}">List Files</a></h3>
         <h3><a href="{{ url_for('goupload')}}">Upload File</a></h3>
          <h3><a href="{{ url_for('logout')}}">Logout</a></h3>
    </form>
    </head>
  </body>

</html>
